/* override browser default */
html, body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height important check */
* {
  /*box-sizing: border-box;*/
}

.app{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  height: 100%;
  width: 100%;

  /* example padding, font-size, background, etc */
  background-color: lightskyblue;

  /*important*/
  overflow: scroll;
  overflow-x: hidden;
  /*hide scrollbar on id, edge, and firefox*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app > h1, .app__form{
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.app__form{
  display: flex;
}
.app__form__FormControl, .app__form__Button{
  flex: 0.12;
}

.app__todoList{
  display: flex;
}

.tasks__card{
  flex: 1;
}

.tasks__card > h2{
  justify-content: center;
  text-align: center;
}

hr{
  border-color: black;
}

/* media query stuff */
/* small screen */
@media (max-width: 800px) {
  .app__form__FormControl, .app__form__Button{
    display: block;
    flex: 1;
  }
}